include ../mixins/main
doctype html
html
    head
        include ../sections/head
    body
        .l-wrapper
            include ../sections/header/header
            include ../sections/news/newsOne/newsOne
            include ../sections/news/newsTwo/newsTwo
            include ../sections/news/newsTree/newsTree
            include ../sections/news/news50/news50
            include ../sections/news/newsTwoR/newsTwoR
            include ../sections/pagination/pagination
        include ../sections/footer/footer    
