section.news-one.clearfix
	.l-center
		.news-one__block
			img.news-one__img(src="assets/pic/news/1.img" alt="news 1")
			.news-one__content
				h2.news-one__head How Web Hosting Can Impact Page Load Speed
				.news-one__text
					p She packed her seven versalia, put her initial into the belt and made herself on the way. When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, tsingle.htmlen she continued her way.
				+btn("a", "news-one__btn", "Busines 4 days ago")