.section-indicators{
  background: $gallery_bg url("../img/bgIndicators.jpg") no-repeat top center;
  background-size: cover;
}

.indicator-list{
  text-align: justify;
  &:after{
    content: "";
    display: inline-block;
    width: 100%;
    height: 0;
  }
}

.indicator-list__item{
  display: inline-block;
  color: #fff;
  text-align: center;
}

.indicator-list__numbers{
  font-family: $font_oswald,sans-serif;
  font-size: 6em;
  margin: 0 0 0.04em 0;
}

.indicator-list__desc{
  font-family: $font_oswald,sans-serif;
  font-size: 1.5em;
}