.top-list{
  padding: 0;
  display: block;
  margin: 6em 0 0;
}

.top-list__item{
  float: left;
  width: 30%;
  margin: 0 1%;
  text-align: center;
}

$size_img: 11.25em;

.l-top-list__img{
  position: relative;
  display: inline-block;
  width: $size_img;
  height: $size_img;
  overflow: hidden;
  transform: rotate(45deg);
}

.top-list__img{
  transform: rotate(-45deg)scale(1.42);
  max-width: 100%;
}

.top-list__header{
  margin: 4em 0 1em 0;
  color: $black_color_font;
  font-weight: 700;
}