section.news-50.clearfix
	.l-center
		.news-50__left
			img.news-50__img(src="assets/pic/2.jpg" alt="new 2")
			.news-50__content
			h2.news-50__head How Web Hosting Can Impact Page Load Speed
			.news-50__text
				p She packed her seven versalia, put her initial into the belt and made herself on the way. When she reached the first hills of the Italic Mountains.
			+btn("a", "news-two__btn", "Busines 4 days ago")
		.news-50__right
			img.news-50__img(src="assets/pic/3.jpg" alt="new 3")
			.news-50__content
			h2.news-50__head How Web Hosting Can Impact Page Load Speed
			.news-50__text
				p She packed her seven versalia, put her initial into the belt and made herself on the way.
			+btn("a", "news-two__btn", "Busines 4 days ago")