$header_height: 27.5625em;
$header_bg: "../img/bgHeader.jpg";

.header{
  padding: 0 0 5em 0;
}

.header-main{
  min-height: $header_height;
  background: #777 url($header_bg) no-repeat top center;
  background-size: cover;
}

@import "topHeader";
@import "middleHeader";
@import "innerHeader";