.header-inner{
  padding: 0;
}

.title-inner{
  padding: 4em 0;
  text-align: center;
  color: #fff;

  h1{
    font-family: "oswald", sans-serif;
    font-size: 5em;
    font-weight: 400;
    margin: 0;
  }
}