.section-brand{
  background: #F3F3E6;
}

.brand-list{
  padding: 0;
}

.brand-list__item{
  float: left;
  width: 10.66%;
  padding: 0 3%;
}

.brand-list__link{
  display: block;
}

.brand-list__img{
  width: 100%;
}